
/* ***********GLOBAL*********** */
* {box-sizing: border-box;}
img {width: 100%;}
ul {list-style: none; padding-left: unset;}
a {text-decoration: none;}
body {
  background: #01A7B7;
  color: #fff;
  font-family: sans-serif;
}
/* @import url(http://fonts.googleapis.com/css?family=Hepta+Slab); */

/* ***********HEADER*********** */
.logo {
  position: relative;
}
.logo > a > img {
  width: 50vw;
  height: 50vw;
  border: solid 5px #fff;
  border-radius: 50%;
  background: #eeaf00;
  margin: 20px;
}

.logo::before {
  content: "SRC";
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  font-family: Hepta Slab;
  font-size: 18vw;
  letter-spacing: 10px;
  text-shadow:
  -1px -1px 0 #8B7366,
  1px -1px 0 #8B7366,
  -1px 1px 0 #8B7366,
  1px 1px 0 #8B7366;


}

.top > h1 {
  margin: 30px;
  font-family: Hepta Slab;
  border: dotted 3px #A54314 ;
  padding: 15px;
}

.top > span {
  margin: 30px;
}

.slogan {
  border-bottom: solid #8B7366 2px;
  font-style: italic;
}

















#will-bottom-1 {
  border-bottom: 2px solid black;
}

#will-bottom-2 {
  padding-top: 15px;
}

.bottom-section-1 {
  text-align: center;
  font-size: 35px;
}

.bottom-section-2 {
  text-align: center;
}

.contact-number > h5 {
  font-weight: bold;
  font-size: 35px;
  padding-top: 15px;
}

.email-address > h5 {
  font-weight: bolder;
  font-size: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
}
