
/* ***********GLOBAL*********** */
* {box-sizing: border-box;}
img {width: 100%;}
ul {list-style: none; padding-left: unset;}
a {text-decoration: none;}
body {
  background: #01A7B7;
  color: #fff;
}

/* ***********HEADER*********** */
.logo > a > img {
  width: 50%;
  border: solid 5px #fff;
  border-radius: 50%;
  background: #eeaf00;
}
